.header2{
	width: 100%;
	height: 70px;
	margin-top: -62px;
}

.header7{
	width: 100%;
	display: none;
	position: fixed;
	z-index: 999;
}

.body{
	background-color: #f8f8f8;
}

.header{
	background-color: #fff;
	height: 60px;
}

.container{
	width: 90%;
	margin: 0 auto;
}

.header-inner{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Nunito', sans-serif;
}

.header-inner span{
	color: #008000;
	padding-left: 5px;
}

.header-inner2{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 999;
	height: 50px;
	background-color: #fff;
	border: none;
	border-radius: 15px;
	font-family: 'Nunito', sans-serif;
}

.header-inner2 a{
	text-decoration: none;
	color: #000;
	font-size: 16px;
	padding-right: 5px;
}

.menu{
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.mamenu{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.header-inner2 button:hover{
	color: #008000;
}

.header-inner2 a:hover{
	color: #008000;
}

.main-menu{
	width: 100%; 
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	position: relative;	
	color: #000;
}

ul li{
	list-style: none;
	color: #ebeaec;
}

.main-menu li{
	padding-right: 5px;
}

.active{
	color: #008000;
}

.delivery-phone{
	display: flex;
	flex-direction: column;
	color: #70544f;
	font-size: 1.17em;
}

.delivery-phone h2{
	font-size: 1.05em;
}

.main-menu button{
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.sale{
	margin-right: 30px;
}

.sale button{
	height: 38px;
	font-size: 17px;
	background-color: transparent;
	outline: none;
	border: 1px solid #008000;
	border-radius: 10px;
	padding: 0 20px;
	cursor: pointer;
}

.header_fixed{
	height: 40px;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    top: 0;
    left: 0;
    margin-top: -10px;
    padding: 10px 0;
    animation: showElement;
    animation-duration: 1s;
} 

.header_fixed1{
	height: 40px;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    top: 0;
    left: 0;
    margin-top: -10px;
    padding: 10px 0;
    animation: showElement;
    animation-duration: 1s;
}

.up-button p{
	margin-bottom: 100vh;
	font-family: 'Nunito', sans-serif;
	opacity: 0.7;
}

.up-button:hover{
	background-color: rgb(216, 175, 89, 0.5);
}

.up-button:hover p{
	opacity: 1;
}

.up-button{
	position: fixed;
	z-index: 23;
	height: 100%;
	width: 70px;
	bottom: 0;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
}

.up-button button{
	background-color: #fff;
}

@keyframes showElement{
    0% {
        opacity: 0;
        top: -70px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}

@media screen and (max-width: 426px) {
	.header{
		width: 100%;
		height: 30px;
		padding-top: 	30px;
	}
	.header-inner{
		font-size: 9px;
	}
	.header2{
		display: none;
	}
	.header7{
		display: flex;
		width: 100%;
		height: 30px;
		position: fixed;
		z-index: 999;
		background-color: #fff;
	}
	.header-inner2{
		width: 100%;
		display: flex;
		height: 30px;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 999;
		background-color: #fff;
		font-family: 'Nunito', sans-serif;
		font-size: 10px;
	}
	.main-menu a{
		font-size: 10px;
	}
	.main-menu{
		width: 100%;
		padding-left: 13px;
	}
	.main-menu li{
		padding: 	0;
	}
}

@media screen and (max-width: 428px) {
	.combo{
		width: 100%;
		height: 520px;
	}
	.pizza-img{
		height: 330px;
	}
	.pizza{
		width: 100%;
		height: 520px;
	}
}